
.header
{
    
    width: 800px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
@media only screen and (max-width:500px) {
  
    .header {
      width: 100%;
    }
  }


h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    background-position-x: center;
    
    
    
}
b
{
    color: white;
}




.flexbelow
{
  width: 600px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

@media only screen and (max-width: 600px) {
  .flexbelow {
    width: 100%; 
    height: auto;
  }
}

p
{
    text-align: center;
    font-style: italic;
    font-size: x-large;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/1090196351968616469/1098202215568658502/Screenshot_2023-04-19_163315.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
    
  }
  @media (max-width: 480px) {
    body {
        background-image: url("https://cdn.discordapp.com/attachments/1090196351968616469/1098202215568658502/Screenshot_2023-04-19_163315.png");
    }
}